.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--primary-color);
}

.header h1 {
  text-align: center;
  font-weight: lighter;
  color: white;
}

main h2 {
  text-align: center;
  font-weight: lighter;
  margin-top: 30px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleContainer span {
  font-size: 30px;
  margin: 0 10px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: .5s;
}

.titleContainer span:hover {
  background-color: var(--secondary-color);
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  margin-bottom: 60px;
}

.productCard {
  width: 80%;
  color: white;
  padding: 10px;
  border: 4px solid black;
  border-radius: 10px;
  font-family: var(--secondary-font);
  font-weight: 400;
  background-color: var(--primary-color);
  transition: .3s;
}

.productCard:hover {
  background-color: var(--secondary-color);
}

.productImg {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  border: 4px solid black;
}

.productTitle {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
}

.trashImg {
  width: 30px;
  cursor: pointer;
}

.modal {
  display: none;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  border: 4px solid black;
  width: 40%;
  text-align: center;
}

.modal h1 {
  width: 50%;
  margin: 30px auto;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  font-family: var(--secondary-font);
}

.modal input {
  padding: 15px;
  margin: 10px 0;
  outline: none;
  border-radius: 20px;
  font-size: 15px;
  border: 3px solid var(--third-color);
  color: var(--third-color);
  font-weight: bold;
}

.modal input::placeholder {
  color: var(--third-color);
  font-size: 15px;
  font-weight: bold;
}

.modal .btnContainer {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  gap: 10px;
}

.modal button {
  font-size: 20px;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
}

.modal .btnEnviar {
  background-color: var(--third-color);
  border: none;
  color: white;
}

.modal .btnLimpiar {
  border: 3px solid var(--third-color);
  color: var(--third-color);
}

footer {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footerSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footerDetails {
  font-family: var(--secondary-font);
}

.footerDetails h3,
.footerDetails p {
  margin: 0;
}

.footerDetails h3 {
  font-weight: 400;
}

.footerDetails p {
  margin-top: 10px;
}